{
  "presets": [
    "stage-1"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "add-module-exports",
    "closure-elimination",
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs"
  ],
  "sourceMaps": "inline"
}
